    .cards{
        background-image: url("animalDeck.png");
        background-size: 1049px;
    }

    .cardback{
        background-image: url("card1.png");
        background-size: contain;
        background-repeat: no-repeat;
    }

    .spade{
        background-position-y: -1px;
    }

    .diamond{
        background-position-y: -114px;
    }

    .club{
        background-position-y: -227px;
    }

    .heart{
        background-position-y: -340px;
    }

    .cardace{
        background-position-x: -1px;
    }

    .card2{
        background-position-x: -82px;
    }

    .card3{
        background-position-x: -162px;
    }

    .card4{
        background-position-x: -243px;
    }

    .card5{
        background-position-x: -323px;
    }

    .card6{
        background-position-x: -404px;
    }

    .card7{
        background-position-x: -485px;
    }

    .card8{
        background-position-x: -566px;
    }

    .card9{
        background-position-x: -647px;
    }

    .card10{
        background-position-x: -727px;
    }

    .cardjack{
        background-position-x: -969px;
    }

    .cardqueen{
        background-position-x: -888px;
    }

    .cardking{
        background-position-x: -808px;
    }